<div class="col s6 m3">
    <p> {{ status|title }} TODOs</p>
    {% for todo in status_todos %}
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <a href="?label={{ todo.label.slug }}" class="chip">{{ todo.label.name }}</a>
                <span class="card-title">{{ todo.title }}</span>
                <p>{% if todo.due_date %}Due date: {{ todo.due_date }}{% endif %}</p>
            </div>
            <div class="card-action">
                <a href="#">More</a>
            </div>
        </div>
    {% empty %}
        <p>No {{ status|lower }} ToDO</p>
    {% endfor %}
</div>
