{% load staticfiles %}
<html>
<head>
    <title>ToDo app</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'css/home.css' %}" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</body>
</html>
